/* 全局 */
* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1150px;
    margin: auto;
}

body {
    background: no-repeat center fixed url(https://s2.loli.net/2022/12/16/nU3KAHjJQoMqvCp.jpg);
    background-size: 100% auto;
    /* height: 2000px; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: skyblue;
}

img {
    vertical-align: middle;
}

.frame {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 10px;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* 清除浮动 */